<div class="exp-content">
    <h1>經歷</h1>

    <div class="exp_main">
        <div class="exp_pre_1"></div>
        <div class="exp_card">
            <div class="grad_date">
                <p>2016-2017</p>
            </div>
            <div class="grad_info">
                <div class="grad_info_title">藍科數位科技</div>
                <div class="grad_info_sub"><strong>前端＆測試工程師</strong></div>
            </div>
        </div>
        <div class="exp_pre_2"></div>
        <div class="exp_card">
            <div class="grad_date">
                <p>2015-2015</p>
            </div>
            <div class="grad_info">
                <div class="grad_info_title">中壢資策會</div>
                <div class="grad_info_sub"><strong>智慧APP整合開發養成班</strong></div>
            </div>
        </div>
        <div class="exp_pre_3"></div>
        <div class="exp_card">
            <div class="grad_date">
                <p>2013 - 2015</p>
            </div>
            <div class="grad_info">
                <div class="grad_info_title">南台科技大學</div>
                <div class="grad_info_sub"><strong>管理與資訊系-工業管理碩士班</strong></div>
            </div>
        </div>
        <div class="exp_pre_4"></div>
        <div class="exp_card">
            <div class="grad_date">
                <p>2009 - 2013</p>
            </div>
            <div class="grad_info">
                <div class="grad_info_title">南台科技大學</div>
                <div class="grad_info_sub"><strong>管理與資訊系</strong></div>
            </div>
        </div>
        <div class="exp_pre_5"></div>
        <div class="exp_card">
            <div class="grad_date">
                <p>2006 - 2009</p>
            </div>
            <div class="grad_info">
                <div class="grad_info_title">國立台南海事</div>
                <div class="grad_info_sub"><strong>商業經營科</strong></div>
            </div>
        </div>
    </div>
</div>