<div class="container-fluid">
    <div class="intro-content">
        <h1>關於我</h1>
        <br>
        <p>我是「黃淑婷」，來自台灣台南。</p>
        <p>喜歡找 BUG，也享受解 BUG 的成就與喜悅！</p>
        <p><em>Trial &amp; Error Learning</em></p>
        <hr>
        <h1>技能樹</h1>
        <br>
        <div class="intro-skill">
            <div class="intro-left">
                <span>HTML</span>
                <div class="bar-container">
                    <div class="skill-container levelbg1"></div>
                </div>
                <span>jQuery</span>
                <div class="bar-container">
                    <div class="skill-container levelbg4"></div>
                </div>
                <span>iOS Develop</span>
                <div class="bar-container">
                    <div class="skill-container levelbg7"></div>
                </div>
                <span>Gulp.js</span>
                <div class="bar-container">
                    <div class="skill-container levelbg10"></div>
                </div>
            </div>
            <div class="intro-center">
                <span>CSS</span>
                <div class="bar-container">
                    <div class="skill-container levelbg2"></div>
                </div>
                <span>Bootstrap</span>
                <div class="bar-container">
                    <div class="skill-container levelbg5"></div>
                </div>
                <span>Python</span>
                <div class="bar-container">
                    <div class="skill-container levelbg8"></div>
                </div>
                <span>Webpack</span>
                <div class="bar-container">
                    <div class="skill-container levelbg11"></div>
                </div>
            </div>
            <div class="intro-right">
                <span>JavaScript</span>
                <div class="bar-container">
                    <div class="skill-container levelbg3"></div>
                </div>
                <span>AngularJS</span>
                <div class="bar-container">
                    <div class="skill-container levelbg6"></div>
                </div>
                <span>Sketch</span>
                <div class="bar-container">
                    <div class="skill-container levelbg9"></div>
                </div>
                <span>Chart.js</span>
                <div class="bar-container">
                    <div class="skill-container levelbg12"></div>
                </div>
            </div>
        </div>
    </div>
</div>