<div class="container-fluid">
    <div class="project-content">
        <h1>專案經驗</h1>
        <br>
        <div class="project-exp">
            <div class="box">
                <span class="icon-cont"><i class="fa fa-heartbeat"></i></span>
                <h3>壽險業 APP</h3>
                <ul class="hidden">
                    <li>富邦人壽 - 旅遊平安險 Ｗeb APP</li>
                    <li>畫面：Boostrap</li>
                    <li>開發：Framework 7 &amp; AngularJS 1.x</li>
                    <li>版控：Git Flow</li>
                </ul>
                <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
            </div>
            <div class="box">
                <span class="icon-cont"><i class="fa fa-volume-control-phone"></i></span>
                <h3>電信業 Web</h3>
                <ul class="hidden">
                    <li>遠傳電信 - NPV</li>
                    <li>畫面：Boostrap</li>
                    <li>開發：ES 6 &amp; AngularJS 1.x</li>
                    <li>版控：Git Flow &amp; SVN</li>
                </ul>
                <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
            </div>
        </div>
        <hr>
        <h1>開源作品</h1>
        <br>
        <div>
            <div class="box">
                <span class="icon-cont"><i class="fa fa-mobile"></i></span>
                <h3>iOS APP</h3>
                <ul class="hidden">
                    <li>名稱：沙灘時光</li>
                    <li>技術：SpriteKit &amp; Swift</li>
                    <li>工具：Sketch</li>
                </ul>
                <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
            </div>

            <div class="box">
                <span class="icon-cont"><i class="fa fa-desktop"></i></span>
                <h3>Web</h3>
                <ul class="hidden">
                    <li>名稱：練習 SPA 串接 Weather API</li>
                    <li>技術：HTML, CSS, Javascript, jQuery</li>
                    <li>套件：Chart.js</li>
                    <li>工具：Gulp</li>
                </ul>
                <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
            </div>
        </div>
    </div>
</div>

<script src="../../src/js/projectController.js"></script>